apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  nginx.conf: |
    pid /tmp/nginx.pid;
    events {
        worker_connections 1024;
    }

    http {
        # Writable temp paths for non-root
        client_body_temp_path /tmp/client_temp;
        proxy_temp_path       /tmp/proxy_temp;
        fastcgi_temp_path     /tmp/fastcgi_temp;
        uwsgi_temp_path       /tmp/uwsgi_temp;
        scgi_temp_path        /tmp/scgi_temp;
        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        sendfile on;
        keepalive_timeout 65;

        # Logs to stdout/stderr
        access_log /dev/stdout;
        error_log /dev/stderr;

        # Include site configs
        include /etc/nginx/conf.d/*.conf;
    }
  default.conf: |
    server {
        listen 8080;
        server_name www.blog-app.com blog-app.com;
        return 301 https://$host$request_uri;
    }

    server {
        listen 8443 ssl;
        server_name www.blog-app.com blog-app.com;

        ssl_certificate /etc/nginx/ssl/tls.crt;
        ssl_certificate_key /etc/nginx/ssl/tls.key;

        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers HIGH:!aNULL:!MD5;

        location / {
            proxy_pass http://backend:8000;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
