apiVersion: apps/v1
kind: Deployment
metadata:
  name: proxy
  labels:
    app: proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: proxy
  template:
    metadata:
      labels:
        app: proxy
    spec:
      # securityContext:
      #   allowPrivilegeEscalation: false
      #   runAsNonRoot: true
      #   # fsGroup: 1000730001
      # seccompProfile:
      #   type: RuntimeDefault
      containers:
        - name: nginx
          image: nginx:1.25-alpine
          # securityContext:
          #   allowPrivilegeEscalation: false
          #   runAsNonRoot: true
          #   # runAsUser: 1000730001
          #   # runAsGroup: 1000730001
          #   capabilities:
          #     drop:
          #       - ALL
          #   seccompProfile:
          #     type: RuntimeDefault
          ports:
            - containerPort: 8080
              name: http
            - containerPort: 8443
              name: https
          volumeMounts:
            - name: nginx-main-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
            - name: nginx-config-volume
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
            - name: tls-secret-volume
              mountPath: /etc/nginx/ssl
              readOnly: true
            - name: nginx-cache
              mountPath: /var/cache/nginx
            - name: tmp
              mountPath: /tmp
          resources:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 128Mi
              cpu: 100m
      volumes:
        - name: nginx-main-config
          configMap:
            name: nginx-config
            items:
              - key: nginx.conf
                path: nginx.conf
        - name: nginx-config-volume
          configMap:
            name: nginx-config
            items:
              - key: default.conf
                path: default.conf
        - name: tls-secret-volume
          secret:
            secretName: tls-secret
        - name: nginx-cache
          emptyDir: {}

        - name: tmp
          emptyDir: {}
